@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 203, 247, 237;
    --background: 22, 25, 37;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
	.scrollbar-custom {
		@apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-black/10 scrollbar-thumb-rounded-full scrollbar-w-1 hover:scrollbar-thumb-black/20 dark:scrollbar-thumb-white/10 dark:hover:scrollbar-thumb-white/20;
	}
}