[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
sentence-transformers = "*"
transformers = "*"
langchain-google-genai = "*"
fastapi = {extras = ["all"], version = "*"}
chromadb = "*"
python-dotenv = "*"
uvicorn = "*"
sqlmodel = "*"
psycopg2-binary = "*"
pypdf = "*"
rich = "*"
html2text = "*"
grequests = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.11"
