[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-google-genai = "*"
fastapi = {extras = ["all"], version = "*"}
chromadb = "*"
python-dotenv = "*"
uvicorn = "*"
sqlmodel = "*"
psycopg2-binary = "*"
pypdf = "*"
rich = "*"
google-api-python-client = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
langchain-community = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.11"
